<div class="container">
  <div class="row justify-content-center align-items-center">
    <div class="col-md-4">
      user: <%= @blog.user.email %>
    </div>
    <div class="col-md-8">
      <%= @blog.title %>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-12">
      <%= @blog.content %>
    </div>
  </div>
  <hr>
  <div id="comments">
    <%= render 'blogs/comments/index', comments: @blog.comments %>
  </div>
  <div class="comment-form-container">
    <%= render 'blogs/comments/from', blog: @blog, comment: Comment.new %>
  </div>
</div>